



<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <%- include("partials/head") %>
</head>
<headerAbout>

    <%- include("partials/redessociales") %>
    <%- include("partials/navbar") %>
</headerAbout>
<bodyAbout >
    <div class="parallax-container">
      <%- include("partials/video") %>
      <div class="title-row">
        <h2 class="title"> Noticias destacadas</h2>
        <button>Ver más</button>
      </div>

        

          <div class="title-row2">
            <h2 class="title2"> Proxímos eventos</h2>
            <button>Ver más</button>
          </div>
            
          <%- include("partials/cuadro") %>

       
      </div>
</bodyAbout>


<footerAbout>
    <%- include("partials/footer") %>
</footerAbout>
</html>

