

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Inicio</title>
    <%- include("partials/head") %>
</head>
<headerAbout>
  <div class="load-container">
    <div class="loading-screen"></div>
 
</div>
    <%- include("partials/redessociales2") %>
    <%- include("partials/navbar") %>
</headerAbout>
<bodyAbout  >

    <div class="parallax-container">
      <%- include("partials/video") %>
      
   
      <div class="title-row">
        <h2 class="title"> Noticias destacadas</h2>
        <button>Ver más</button>
      </div>

            <%- include("partials/ve") %>
               
   
          <div class="title-row2">
            <h2 class="title2"> Proxímos eventos</h2>
            <button>Ver más</button>
          </div>
            
          <%- include("partials/cuadro") %>

       
      </div>
</bodyAbout>


<footerAbout>
    <%- include("partials/footer") %>
</footerAbout>


<script>
function delay(n) {
    n = n || 2000;
    return new Promise((done) => {
        setTimeout(() => {
            done();
        }, n);
    });
}

function pageTransition() {
    var tl = gsap.timeline();
    tl.to(".loading-screen",  {
        duration: 1.2,
        width: "10%",
        left: "0%",
        ease: "Expo.easeInOut",
    });

    tl.to(".loading-screen", {
        duration: 1,
        width: "100%",
        left: "100%",
        ease: "Expo.easeInOut",
        delay: 0.3,
    });
  
    tl.set(".loading-screen", { left: "-100%" });
   
}

function contentAnimation() {
    var tl = gsap.timeline();
    tl.from(".animate-this", { duration: 1, y: 30, opacity: 0, stagger: 0.4, delay: 0.2 });
}

$(function () {
    barba.init({
        sync: true,

        transitions: [
            {
                async leave(data) {
                    const done = this.async();

                    pageTransition();
                    await delay(1000);
                    done();
                },

                async enter(data) {
                    contentAnimation();
                },

                async once(data) {
                    contentAnimation();
                },
            },
        ],
    });
});

</script>
</html>

