
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>TiendaPanda</title>
    <%- include("partials/head") %>
</head>

    <%- include("partials/navbarStore") %>


<body class="bodyStore">
    <div class="parallax-container">
        <%- include("partials/tienda") %>

        <div class="section-title">
         
            </div>
            <%- include("partials/productosstore") %>

          
            <div class="section-title">
              
                </div>
           
    
      
      </div>
</body>


<footerStore>
    <%- include("partials/footerstore") %>

</footerStore>


