
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>TiendaPanda</title>
    <%- include("partials/head") %>
</head>

    <%- include("partials/navbarStore") %>


<body class="bodyStore">
    <div class="parallax-container">
        <%- include("partials/tienda") %>

        <div class="section-title">
            <h2 class="title2 "> Destacados</h2>
            </div>
            <%- include("partials/productosstore") %>

          
            <div class="section-title">
                <h2  class="title2 "> Proxímos eventos</h2>
                </div>
                <div class="section-title">
                    <h2  class="title2 "> Proxímos eventos</h2>
                    </div>
                    <div class="section-title">
                        <h2  class="title2 "> Proxímos eventos</h2>
                        </div>
                        
      
      </div>
</body>

<%- include("partials/footerstore") %>



